{
  "parser": "typescript",
  "printWidth": 200,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
}