<div id="app">
    <h2>Todos:</h2>
    <ol>
        <li v-for="todo in todos">
            <label>
                <input type="checkbox" v-on:change="toggle(todo)" v-bind:checked="todo.done">

                <del v-if="todo.done">
                    {{ todo.text }}
                </del>
                <span v-else>
                    {{ todo.text }}
                </span>
            </label>
        </li>
    </ol>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="rr.js"></script>
<script>

const BaseResource = Resource.extend({

})

console.log(new BaseResource({ tacos: true }))

new Vue({
    el: "#app",
    data: {
        todos: [{
                text: "Learn JavaScript",
                done: false
            },
            {
                text: "Learn Vue",
                done: false
            },
            {
                text: "Play around in JSFiddle",
                done: true
            },
            {
                text: "Build something awesome",
                done: true
            }
        ]
    },
    methods: {
        toggle: function(todo) {
            todo.done = !todo.done
        }
    }
})
</script>